
        /*desktop*/
    * {
        box-sizing: border-box;
    }
    .row {
            display: block;
            width:100%;
            float:left;
        }
    .row::after {
        content: "";
        clear: both;
        display: block;
        }
    [class*="col-"] {
        float: left;
        padding: 15px;
        }
        
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .col-s-1 {width: 8.33%;}
    nav .left{
        display: inline;
        float: left;
        margin-left: 20px;
    }
    nav .right{
        display: inline;
        float: right;
        margin-right: 20px;
    }
    nav li{
        display: block;
        float: left;
        padding: 1vw;
    }
    li>a{
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: Arial, sans-serif;
        }
    li>a:hover {
        color: blue;
    }
    #banner {
        background-image: url("https://s3.amazonaws.com/codecademy-content/courses/ltp/img/lodging.png") ;
        height: 500px;
        background-size: 100% 100%;
        margin:0px;
        background-repeat: no-repeat;
     }
    #banner div{
        position: relative;
        top: 160px;
        left: 50px;
        color: white;
    }
    #banner h1{
        font-size:4vw;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;

        
    }
    
    #banner p{
        font-size:1.5vw;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        font-family: sans-serif;
    }
    hr {
        display: none;
    }
    #body2 {
        background-color: #cccccc;
        margin: 0px;
        overflow: hidden;
        width: 100%;
        font-family: sans-serif;
    }
    #body2 h2,p{
        margin: 20px 0 0 30px;
    }
    #body2 h2{
        font-size:2.5vw;
    }
    #body2 p{
        font-size:1vw;
        
    }
    .content-img {
        width:100%;
        height:auto;
        padding: 1.2vw 0;
        margin-left:30px;
    }
    footer{
        background-color: #e5e5e5;
        margin:0px;
        padding-bottom:30px;
        width: 100%;
        overflow: hidden;
        clear:both;
        font-family: sans-serif;

        }
    footer p {
        margin-bottom: 20px;
    }
    footer h3,a{
        margin-left:30px;
    }
    footer a:hover {
        color: #00e9ff;
    }